.footer {
    background-color: #3674B5;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    margin-top: 50px;
}
  
.footer-content p {
    margin: 0.25rem 0;
}
  