/* LoginForm.css */
.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}
  
.login-card {
    padding: 2rem;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
h1 {
    color:#3674B5;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
h2 {
    font-weight:lighter;
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin-top: 50px;
    margin-bottom: 0%;
}
a {
    color: #3674B5;
}

.error {
    color: red;
}

.btn-blue {
    background-color: #3674B5;
    border-color: #3674B5;
    width: 100%;
    color: white;

}
  
.btn-blue:hover {
    background-color: #578FCA;
    border-color: #578FCA;
}
  
.form-label {
    font-weight: bold;
}